#color-palette {
	/*height: 200px;
	width: 200px;*/
}

html, body {
	height: 100%;
}

html {
	display: block;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
	padding-bottom: 100px;
}

.content {
	width: 100px;
	height: 100px;
}

#footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footItem {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-family: Abel, sans-serrif;
}

#center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
