html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footItem {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
	color: black;
	font-family: Farsan, sans-serif;
}

#center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.header{
    background: url("images/header.jpg") no-repeat top center fixed;
    background-size: contain;
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
	
.header h1 {
	position: relative;
	color: white;
    text-align: center;
    font-family: 'Grand Hotel', sans-serif;
	font-size: 100px;
	font-weight: 300;
	margin-top: 100px;
}

.header img {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#tag_thumbnail_container {
	width: 80%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 10px;

}

#tag_thumbnail_container h3 {
	margin-bottom: 0px;
	margin-top: 20px;
	font-family: 'Grand Hotel', cursive;
	font-size: 60px;
}

.gray {
	width: 100%;
	background-color: #eaf8f8;
}	

.white {
	width: 100%;
	background-color: white;
}	

.tag_thumbnail {
	padding: 10px;
	display: inline-block;
	position: relative;
	border: solid 1px rgb(236, 232, 232);
	text-align: center;
	margin: 10px;
	cursor: pointer;
	box-shadow: 0px 12px 12px -12px rgba(0,0,0,0.5);
	background-color: white;
}

.tag_thumbnail img {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	margin: 10px;
	box-shadow: 2px 4px 22px -10px rgba(0,0,0,0.5);
}

.tag_thumbnail p {
	font-size: 20px;
	font-family: 'Farsan', cursive;
	line-height: 0px;
}

#loading {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

#loading img {
	width: 100%;
}

.loader {
	padding: 0px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
	background-size: 50px;
}

.searchGroup {
	text-align: center;
	font-family: "Farsan", cursive;
	font-size: 20px;
	margin-bottom: 30px;
	width: 100%;
    background-color: white;
    z-index:30;
    padding: 10px;
    height:90px;
}

#buffer {
	visibility:hidden;
}

#search {
	border-radius: 10px;
	height: 30px;
	decoration: none;
}

#search:focus {
    outline: none;
}

button {
	margin: 10px;
	background-color: lightcoral;
	font-family: "Farsan", cursive;
	font-size: 20px;
	color: black;
	border: none;
	height: 30px;
	padding: 3px 10px 30px 10px;
}

h1.error {
	text-align: center;
	font-family: 'Grand Hotel', cursive;
}

h2.error {
	text-align: center;
	font-family: "Farsan", cursive;
}