body { 
	margin:0;
	padding:0;
	font-family: 'Lora', serif;
}

h1 {
	font-family: 'Lora', serif;
	text-align: center;
}

ol {
	font-family: 'Lato', sans-serif;
}

.map {
	display: inline-block;
	width: 70%;
	height: 750px;
	-webkit-transition: height linear 2s;
}

#map-cluster-copenhagen { 
	width:100%; 
	height: 100% !important;
	-webkit-transition: height linear 2s;
}

#cop {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
